.cardShapeIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20.48px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome0x {
  position: relative;
  display: inline-block;
  min-width: 125px;
  z-index: 1;
}
.welcome0xWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) 0 var(--padding-5xl-9);
}
.div {
  width: 16px;
  height: 16px;
  display: none;
}
.members1 {
  margin: 0;
}
.members {
  width: 93.4px;
  height: 12.5px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.trendingContentStreamlineFIcon {
  height: 46.6px;
  width: 46.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.conditionChecker {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 65px;
}
.amount1,
.newMembers {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.amount1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-2);
}
.newMembers {
  position: relative;
  font-size: var(--font-size-2xs-8);
  font-weight: 500;
  color: var(--color-steelblue-100);
  display: inline-block;
  min-width: 75px;
}
.amount,
.div1 {
  align-items: flex-start;
}
.amount {
  height: 42.2px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-12xs-1);
}
.div1 {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div1,
.inputFilter,
.resultProcessor {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.resultProcessor {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-4xs-6);
}
.inputFilter {
  width: 163.5px;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-1);
  box-sizing: border-box;
}
.dataSplitterChild {
  align-self: stretch;
  height: 1.1px;
  position: relative;
  border-top: 1.1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.arrowUp2Icon {
  height: 16.2px;
  width: 16.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.span {
  color: var(--color-steelblue-200);
}
.thisMonth1 {
  font-weight: 500;
  color: var(--color-steelblue-100);
}
.thisMonth {
  position: relative;
  display: inline-block;
  min-width: 72.5px;
}
.filterChain,
.pathFinder,
.sorter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.filterChain {
  flex-direction: column;
  padding: var(--padding-10xs-1) 0 0;
}
.pathFinder,
.sorter {
  flex-direction: row;
}
.pathFinder {
  align-self: stretch;
  gap: var(--gap-5xs-6);
}
.sorter {
  flex: 1;
  padding: 0 var(--padding-base) 0 var(--padding-base-2);
}
.dataSplitter {
  align-self: stretch;
  height: 21.6px;
  gap: var(--gap-8xs-3);
  font-size: var(--font-size-2xs-8);
  color: var(--color-red);
}
.dataAggregator,
.dataSplitter,
.profits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dataAggregator {
  align-self: stretch;
  height: 81.2px;
  gap: var(--gap-smi);
  font-size: var(--font-size-4xl-8);
}
.profits {
  flex: 1;
  border-radius: 21.65px;
  background: linear-gradient(
    180deg,
    rgba(59, 52, 187, 0.6),
    rgba(39, 172, 255, 0.06)
  );
  overflow: hidden;
  padding: var(--padding-4xs-9) var(--padding-base-2) var(--padding-sm)
    var(--padding-mid-3);
  box-sizing: border-box;
  gap: var(--gap-6xl-2);
  min-width: 201px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.div2 {
  width: 16px;
  height: 16px;
  display: none;
}
.customers1 {
  margin: 0;
}
.customers {
  height: 13px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.customersWrapper {
  width: 121.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-1);
  box-sizing: border-box;
}
.userCircleSingleStreamlineIcon {
  width: 46.6px;
  height: 46.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.userCircleSingleStreamlineWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-1);
}
.transformerChain {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 68px;
  white-space: nowrap;
}
.amount3,
.totalCustomers {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.amount3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl) var(--padding-12xs-2) 0;
}
.totalCustomers {
  position: relative;
  font-size: var(--font-size-2xs-8);
  font-weight: 500;
  color: var(--color-steelblue-100);
  display: inline-block;
  min-width: 86px;
}
.amount2,
.div3 {
  align-items: flex-start;
}
.amount2 {
  height: 42.2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-12xs-1);
}
.div3 {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div3,
.frameDiv,
.frameWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameDiv {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-4xs-6);
}
.frameWrapper {
  flex: 1;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-1);
}
.frameChild {
  align-self: stretch;
  height: 1.1px;
  position: relative;
  border-top: 1.1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.arrowUp2Icon1 {
  height: 16.2px;
  width: 16.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.span1 {
  color: var(--color-darkgray);
}
.thisMonth3 {
  font-weight: 500;
  color: var(--color-steelblue-100);
}
.thisMonth2 {
  position: relative;
  display: inline-block;
  min-width: 85.5px;
}
.dataMapper,
.errorCollector,
.synchronizer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dataMapper {
  flex-direction: column;
  padding: var(--padding-10xs-1) 0 0;
}
.errorCollector,
.synchronizer {
  flex-direction: row;
}
.errorCollector {
  align-self: stretch;
  gap: var(--gap-5xs-7);
}
.synchronizer {
  flex: 1;
  padding: 0 var(--padding-base) 0 var(--padding-base-2);
}
.frameContainer,
.lineParent {
  align-self: stretch;
  flex-direction: column;
}
.lineParent {
  height: 21.6px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs-3);
  font-size: var(--font-size-2xs-8);
  color: var(--color-forestgreen);
}
.frameContainer {
  height: 83.4px;
  gap: var(--gap-sm-1);
  font-size: var(--font-size-4xl-8);
}
.frameContainer,
.profits1,
.profitsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profits1 {
  flex: 1;
  border-radius: 21.65px;
  background: linear-gradient(
    180deg,
    rgba(59, 52, 187, 0.6),
    rgba(39, 172, 255, 0.06)
  );
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs-7) var(--padding-base-2) var(--padding-sm)
    var(--padding-mid-3);
  box-sizing: border-box;
  gap: var(--gap-3xl-7);
  min-width: 201px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.profitsParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-mini-1);
}
.div4 {
  width: 16px;
  height: 16px;
  display: none;
}
.uploads {
  width: 93.4px;
  height: 12.5px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.trendingContentStreamlineFIcon1 {
  height: 46.6px;
  width: 46.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.mapFunctionX {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 83px;
  white-space: nowrap;
}
.amount5,
.uploadsInLast {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.amount5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) var(--padding-12xs-2) 0;
}
.uploadsInLast {
  position: relative;
  font-size: var(--font-size-2xs-8);
  font-weight: 500;
  color: var(--color-steelblue-100);
  display: inline-block;
  min-width: 121px;
}
.amount4 {
  height: 42.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-12xs-1);
}
.valueExtractor {
  align-items: flex-start;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.inputTransformer,
.inputTransformerWrapper,
.valueExtractor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.inputTransformer {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-4xs-6);
}
.inputTransformerWrapper {
  flex: 1;
  align-items: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-11xs-1);
}
.nestedTreeX {
  align-self: stretch;
  height: 1.1px;
  position: relative;
  border-top: 1.1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.arrowUp3Icon {
  height: 16.2px;
  width: 16.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.span2 {
  color: var(--color-darkgray);
}
.thisMonth5 {
  font-weight: 500;
  color: var(--color-steelblue-100);
}
.thisMonth4 {
  position: relative;
  display: inline-block;
  min-width: 85.5px;
}
.colorManager,
.dataProcessor,
.shapeContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.colorManager {
  flex-direction: column;
  padding: var(--padding-10xs-1) 0 0;
}
.dataProcessor,
.shapeContainer {
  flex-direction: row;
}
.shapeContainer {
  align-self: stretch;
  gap: var(--gap-4xs-7);
}
.dataProcessor {
  flex: 1;
  padding: 0 var(--padding-mini) 0 15.1px;
}
.nestedTreeXParent {
  align-self: stretch;
  height: 21.6px;
  gap: var(--gap-8xs-3);
  font-size: var(--font-size-2xs-8);
  color: var(--color-forestgreen);
}
.frameParent1,
.inputSelector,
.nestedTreeXParent,
.profits2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-smi);
  font-size: var(--font-size-4xl-8);
}
.inputSelector,
.profits2 {
  box-sizing: border-box;
}
.profits2 {
  align-self: stretch;
  height: 141.8px;
  border-radius: 21.65px;
  background: linear-gradient(
    180deg,
    rgba(59, 52, 187, 0.6),
    rgba(39, 172, 255, 0.06)
  );
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-4xs-8) var(--padding-base-2) var(--padding-mini-1)
    var(--padding-mid-3);
  gap: var(--gap-6xl-2);
  debug_commit: f6aba90;
  z-index: 1;
}
.inputSelector {
  flex: 1;
  padding: var(--padding-11xs-1) 0 0;
  min-width: 142px;
}
.div5 {
  width: 16px;
  height: 16px;
  display: none;
}
.encryptedFiles {
  height: 13px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.borderCreator {
  width: 163.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-7xs-4) var(--padding-11xs-1);
  box-sizing: border-box;
}
.lockRotationStreamlineFlexIcon {
  width: 46.6px;
  height: 46.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.imageLoader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-5);
}
.div6 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 64px;
}
.amount7,
.filesEncrypted {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.amount7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-2);
}
.filesEncrypted {
  position: relative;
  font-size: var(--font-size-2xs-8);
  font-weight: 500;
  color: var(--color-steelblue-100);
  display: inline-block;
  min-width: 80px;
}
.amount6,
.proximitySensor {
  flex: 1;
  align-items: flex-start;
}
.amount6 {
  height: 42.2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
}
.proximitySensor {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.blendFunction,
.opacityController,
.proximitySensor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.blendFunction {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-4xs-6);
}
.opacityController {
  width: 163.5px;
  height: 53.1px;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-1);
  box-sizing: border-box;
  font-size: var(--font-size-4xl-8);
}
.layerStack {
  align-self: stretch;
  height: 1.1px;
  position: relative;
  border-top: 1.1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.arrowUp2Icon2 {
  height: 16.2px;
  width: 16.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.span3 {
  color: var(--color-darkgray);
}
.thisMonth7 {
  font-weight: 500;
  color: var(--color-steelblue-100);
}
.thisMonth6 {
  position: relative;
  display: inline-block;
  min-width: 85.5px;
}
.filterApplier {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-2) 0 0;
}
.compositeFunction {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs-7);
}
.compositeFunction,
.maskMaker,
.pathProcessor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maskMaker {
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 var(--padding-base-2);
}
.pathProcessor {
  align-self: stretch;
  height: 21.6px;
  flex-direction: column;
  gap: var(--gap-8xs-3);
  font-size: var(--font-size-2xs-8);
  color: var(--color-forestgreen);
}
.profits3 {
  flex: 1;
  border-radius: 21.65px;
  background: linear-gradient(
    180deg,
    rgba(59, 52, 187, 0.6),
    rgba(39, 172, 255, 0.06)
  );
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs-6) var(--padding-base-2) var(--padding-mini-1)
    var(--padding-mid-3);
  box-sizing: border-box;
  gap: var(--gap-smi);
  min-width: 142px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frameGroup,
.inputSelectorParent,
.profits3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputSelectorParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-smi);
}
.frameGroup {
  width: 449.3px;
  flex-direction: column;
  gap: var(--gap-lgi-6);
  min-width: 449.29999999999984px;
  max-width: 100%;
}
.cardShape {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20.85px;
  backdrop-filter: blur(145.95px);
  border: 2.1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.marketOverview1 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.easingFunction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-3) 0 0;
}
.monthly {
  position: relative;
  display: inline-block;
  min-width: 59px;
}
.arrowDown2 {
  width: 13.6px;
  height: 8.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.stateManager {
  height: 13.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.easingFunctionParent,
.filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.filter {
  border-radius: 10.43px;
  background-color: var(--color-gray-300);
  justify-content: flex-start;
  padding: var(--padding-2xs-4) var(--padding-3xs) var(--padding-2xs-5)
    var(--padding-2xs-5);
  gap: var(--gap-base-6);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
  font-size: var(--font-size-mini-6);
}
.easingFunctionParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.containerTreeIcon {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(Infinity);
}
.wrapperContainerTree {
  width: 0;
  height: 197px;
  position: absolute;
  margin: 0 !important;
  right: 315.9px;
  bottom: 41.7px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.k {
  position: relative;
  display: inline-block;
  min-width: 20px;
}
.prototypeManager {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.k1,
.k2,
.k3 {
  position: relative;
  display: inline-block;
  min-width: 21px;
}
.k3 {
  min-width: 20px;
}
.prototypeManager1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.k4 {
  position: relative;
  display: inline-block;
  min-width: 19px;
}
.prototypeManager2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.k5 {
  width: 14px;
  position: relative;
  display: inline-block;
  min-width: 14px;
}
.prototypeManager3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
  text-align: right;
}
.graphIcon,
.numbers {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.numbers {
  margin-bottom: -5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.graphIcon {
  height: 192.9px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.chart,
.marketOverview {
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}
.chart {
  align-self: stretch;
  height: 200.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-smi-2);
  max-width: 100%;
  font-size: var(--font-size-2xs-4);
  color: var(--color-gray-100);
}
.marketOverview {
  flex: 1;
  border-radius: 20.85px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  flex-direction: column;
  align-items: flex-start;
  padding: 16.7px var(--padding-xl-2) var(--padding-3xl-9);
  position: relative;
  gap: var(--gap-3xl-6);
  min-width: 426px;
  font-size: var(--font-size-lg-8);
  color: var(--color-fuchsia);
}
.frameParent,
.marketOverview,
.topdash,
.topdashWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-smi);
  font-size: var(--font-size-lgi-5);
  font-family: var(--font-inter);
}
.topdash,
.topdashWrapper {
  align-items: flex-start;
}
.topdash {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xl) var(--padding-7xl-4) var(--padding-15xl-6)
    var(--padding-14xl-6);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-19xl-9);
}
.topdashWrapper {
  align-self: stretch;
  flex-direction: row;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mid-3);
  color: var(--color-midnightblue);
  font-family: var(--font-poppins);
}
.accessibilityProvider {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16.44px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 3.5px 3.46px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(51.91px);
  border: 1.3px solid var(--color-gray-400);
  box-sizing: border-box;
}
.customerDatabase {
  position: relative;
  letter-spacing: -0.01em;
  z-index: 1;
}
.autosaveHandler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-2) 0 0;
}
.designSpecExporter {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-deepskyblue);
}
.search,
.search1Icon {
  position: relative;
  z-index: 1;
}
.search1Icon {
  height: 19.2px;
  width: 19.2px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 19px;
}
.search {
  letter-spacing: -0.01em;
  display: inline-block;
  min-width: 34px;
}
.autoLayoutSolver,
.designSpecExporterParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
}
.designSpecExporterParent {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-7xs-6) var(--padding-6xs-4);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-6xs-4);
  min-width: 53px;
  z-index: 1;
}
.shapeContainer1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-deepskyblue);
}
.span4 {
  color: var(--color-gray-200);
}
.newest {
  font-weight: 600;
  color: var(--color-midnightblue);
}
.shortByContainer {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  min-width: 82px;
  z-index: 1;
}
.chevronDown1Icon {
  height: 14.4px;
  width: 14.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 14px;
  z-index: 1;
}
.shapeContainerParent {
  height: 30.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs-6) var(--padding-5xs)
    var(--padding-xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-7xs-2);
  white-space: nowrap;
  z-index: 1;
}
.prototypingComponent {
  width: 342.1px;
  justify-content: flex-start;
  gap: var(--gap-27xl-1);
  font-size: var(--font-size-3xs-6);
  color: var(--color-darkslategray-400);
}
.collaborationControl,
.prototypingComponent,
.versionHistory {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.collaborationControl {
  width: 774.7px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.versionHistory {
  align-self: stretch;
  justify-content: flex-start;
}
.customerName,
.date {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 86px;
}
.date {
  min-width: 25px;
}
.customerNameParent {
  width: 152.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl-5);
}
.email,
.phoneNumber {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 77px;
}
.email {
  min-width: 29px;
}
.phoneNumberParent {
  width: 197px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl-3) 0 0;
  box-sizing: border-box;
  gap: var(--gap-19xl-7);
}
.subject {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 39px;
}
.arcArchive,
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.groupDiv {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.arcArchive {
  width: 589.1px;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl) 0 var(--padding-9xl-2);
  box-sizing: border-box;
}
.pathPalettePlus {
  align-self: stretch;
  height: 0.7px;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
  box-sizing: border-box;
}
.ovalOrganizerPlus {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-9);
  max-width: 100%;
}
.janeCooper {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 67px;
}
.janeCooperWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs-4) 0 0;
}
.janemicrosoftcom,
.shapeSymphony,
.starSet {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 47px;
}
.janemicrosoftcom,
.shapeSymphony {
  min-width: 77px;
}
.janemicrosoftcom {
  min-width: 108px;
  white-space: nowrap;
}
.arcAssembler,
.symbolSymphony {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.symbolSymphony {
  width: 223.7px;
  justify-content: flex-start;
  gap: var(--gap-19xl-7);
}
.arcAssembler {
  flex: 1;
  justify-content: space-between;
  min-width: 291px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.m0opj4pevp3cpfytlecnizls6 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.arcAssemblerParent,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.arcAssemblerParent {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-26xl-4);
}
.frameWrapper1 {
  width: 705.1px;
  padding: 0 var(--padding-9xl) 0 var(--padding-9xl-2);
  box-sizing: border-box;
}
.frameItem,
.lineWrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frameItem {
  flex: 1;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
}
.lineWrapper {
  height: 0.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-7);
}
.div7,
.floydMiles {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}
.div7 {
  min-width: 47px;
}
.triangleTrio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base-4) 0 0;
}
.floydyahoocom,
.pathPalette {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 81px;
}
.floydyahoocom {
  min-width: 95px;
  white-space: nowrap;
}
.floydMilesParent,
.triangleTrioParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 200px;
  gap: var(--gap-xl);
}
.floydMilesParent {
  justify-content: flex-start;
  gap: var(--gap-51xl-5);
  min-width: 283px;
  max-width: 100%;
}
.wm2cyhosehmzmh2sctatb {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.frameParent2,
.frameWrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent2 {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-39xl-4);
}
.frameWrapper2 {
  width: 705.1px;
  padding: 0 var(--padding-9xl) 0 var(--padding-9xl-2);
  box-sizing: border-box;
}
.frameInner,
.lineContainer {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frameInner {
  flex: 1;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
}
.lineContainer {
  height: 0.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-7);
}
.ronaldRichards {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 84px;
}
.ronaldRichardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs-8) 0 0;
}
.div8 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs-4) 0 0;
}
.div9,
.ronaldadobecom {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
}
.ronaldadobecom {
  min-width: 104px;
  white-space: nowrap;
}
.frameParent4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 289px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.osxfu7o6k9g8knnppqyf1bjp {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.frameParent3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-30xl-4);
  max-width: 100%;
}
.frameWrapper3,
.lineDiv,
.lineFrame {
  box-sizing: border-box;
  max-width: 100%;
}
.frameWrapper3 {
  width: 707.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl) 0 var(--padding-9xl-2);
}
.lineDiv,
.lineFrame {
  align-self: stretch;
}
.lineDiv {
  flex: 1;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
}
.lineFrame {
  height: 0.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-7);
}
.marvinMckinney {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 88px;
}
.marvinMckinneyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs-8) 0 0;
}
.div10 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 53px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs-4) 0 0;
}
.div11,
.marvinteslacom {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
}
.marvinteslacom {
  min-width: 99px;
  white-space: nowrap;
}
.frameParent6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 285px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.xyqr1jhg5e8jnyk7jxjh8huhb {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.frameParent5,
.frameWrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent5 {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-35xl-4);
  max-width: 100%;
}
.frameWrapper4 {
  padding: 0 var(--padding-16xl) 0 var(--padding-9xl-2);
}
.frameChild1,
.frameWrapper4,
.lineWrapper1 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild1 {
  flex: 1;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
}
.lineWrapper1 {
  height: 0.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-7);
}
.div12,
.jeromeBell {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.div12 {
  min-width: 52px;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs-4) 0 0;
}
.div13,
.jeromegooglecom {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
}
.jeromegooglecom {
  min-width: 109px;
  white-space: nowrap;
}
.frameParent8,
.jeromeBellParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 209px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.jeromeBellParent {
  justify-content: flex-start;
  gap: var(--gap-47xl-5);
  min-width: 292px;
}
.jnf87458uh8fgnjhgnjkend598 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.frameParent7,
.frameWrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent7 {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-25xl-4);
  max-width: 100%;
}
.frameWrapper5 {
  padding: 0 var(--padding-15xl) 0 var(--padding-9xl-2);
}
.frameChild2,
.frameWrapper5,
.lineWrapper2 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild2 {
  flex: 1;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
}
.lineWrapper2 {
  height: 0.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-7);
}
.div14,
.kathrynMurphy {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
}
.div14 {
  min-width: 53px;
}
.kathrynMurphyParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-base-7) 0 0;
  box-sizing: border-box;
  min-width: 127px;
  gap: var(--gap-xl);
}
.ovalOrganizerStar {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 81px;
}
.ovalOrganizerStarWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs-3) 0 0;
}
.kathrynmicrosoftcom {
  display: inline-block;
  min-width: 125px;
  white-space: nowrap;
}
.eujnc0m2ovasvc6vauvpo3,
.kathrynmicrosoftcom {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.frameParent9,
.frameWrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent9 {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-9xl-4);
  max-width: 100%;
}
.frameWrapper6 {
  padding: 0 var(--padding-18xl) 0 var(--padding-9xl-2);
}
.frameChild3,
.frameWrapper6,
.lineWrapper3 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild3 {
  flex: 1;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
}
.lineWrapper3 {
  height: 0.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-7);
}
.div15,
.jacobJones {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 66px;
}
.div15 {
  min-width: 53px;
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs-4) 0 0;
}
.div16,
.jacobyahoocom {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 77px;
}
.jacobyahoocom {
  min-width: 99px;
  white-space: nowrap;
}
.frameParent11,
.jacobJonesParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 203px;
  gap: var(--gap-xl);
}
.jacobJonesParent {
  justify-content: flex-start;
  gap: var(--gap-42xl-5);
  min-width: 285px;
  max-width: 100%;
}
.mcbjd8zihvjnciovr6jzqips {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.frameParent10,
.frameWrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent10 {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-35xl-4);
  max-width: 100%;
}
.frameWrapper7 {
  padding: 0 var(--padding-19xl) 0 var(--padding-9xl-2);
}
.frameChild4,
.frameWrapper7,
.lineWrapper4 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild4 {
  flex: 1;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
}
.lineWrapper4 {
  height: 0.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-7);
}
.kristinWatson {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 74px;
}
.kristinWatsonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs-4) 0 0;
}
.triangleTreePlus,
.triangleTreePlus1 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
}
.triangleTreePlus1 {
  min-width: 79px;
}
.starStackPlus {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 198px;
  gap: var(--gap-xl);
}
.kristinfacebookcom {
  display: inline-block;
  min-width: 116px;
  white-space: nowrap;
}
.kristinfacebookcom,
.smaumx3fkvj0vdesm8rk1nf {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.starStackPlusParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
  max-width: 100%;
}
.arcArchivePlus,
.frameChild5 {
  box-sizing: border-box;
  max-width: 100%;
}
.arcArchivePlus {
  width: 706.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl) 0 var(--padding-9xl-2);
}
.frameChild5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
}
.lineWrapper5,
.ovalOrganizerPlusParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.lineWrapper5 {
  height: 0.7px;
  flex-direction: row;
  padding: 0 var(--padding-10xl) 0 var(--padding-10xl-7);
  max-width: 100%;
}
.ovalOrganizerPlusParent {
  height: 435.1px;
  flex-direction: column;
  padding: 0 0 var(--padding-mid-3);
  gap: var(--gap-mid-2);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.showingData1 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  white-space: pre-wrap;
  z-index: 1;
}
.shapeSymphonyStar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.ovalOrganizerPlus1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 6px;
}
.ovalOrganizerPlusPlusWrapper {
  flex: 0.5313;
  border-radius: var(--br-9xs-2);
  background-color: var(--color-deepskyblue);
  border: 0.8px solid var(--color-darkslategray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) var(--padding-7xs);
}
.div17 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 4px;
}
.wrapper2 {
  flex: 0.3548;
  border-radius: var(--br-9xs-2);
  background-color: var(--color-midnightblue);
  border: 0.8px solid var(--color-deepskyblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) var(--padding-6xs);
  color: var(--color-white);
}
.div18 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 6px;
}
.wrapper3 {
  flex: 0.5313;
  border-radius: var(--br-9xs-2);
  background-color: var(--color-deepskyblue);
  border: 0.8px solid var(--color-darkslategray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) var(--padding-7xs);
}
.div19 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 6px;
}
.wrapper4 {
  flex: 0.4643;
  border-radius: var(--br-9xs-2);
  background-color: var(--color-deepskyblue);
  border: 0.8px solid var(--color-darkslategray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) var(--padding-7xs);
}
.div20 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 7px;
}
.wrapper5 {
  flex: 0.5652;
  border-radius: var(--br-9xs-2);
  background-color: var(--color-deepskyblue);
  border: 0.8px solid var(--color-darkslategray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) var(--padding-7xs);
}
.shapeOrganizer {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 7px;
}
.arcArchivePlusPlus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-4) 0 0;
  color: var(--color-black);
}
.div21 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 13px;
}
.wrapper6 {
  flex: 1;
  border-radius: var(--br-9xs-2);
  background-color: var(--color-deepskyblue);
  border: 0.8px solid var(--color-darkslategray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) var(--padding-10xs);
}
.div22 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 6px;
}
.frameParent12,
.wrapper7 {
  justify-content: flex-start;
}
.wrapper7 {
  flex: 0.4375;
  border-radius: var(--br-9xs-2);
  background-color: var(--color-deepskyblue);
  border: 0.8px solid var(--color-darkslategray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-8xs-8) var(--padding-7xs) var(--padding-8xs-8)
    var(--padding-5xs-2);
  color: var(--color-darkslategray-100);
}
.frameParent12 {
  width: 216.4px;
  gap: var(--gap-3xs-6);
  z-index: 1;
  font-size: var(--font-size-3xs-6);
  color: var(--color-darkslategray-400);
}
.frameParent12,
.symbolSymphonyStar,
.symbolSymphonyStarWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.symbolSymphonyStar {
  flex: 1;
  justify-content: space-between;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.symbolSymphonyStarWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-8xl-9);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xs-2);
  color: var(--color-darkslategray-200);
}
.customersdashboard,
.maindash,
.symbolSet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.symbolSet {
  width: 717.6px;
  align-items: flex-start;
  gap: var(--gap-2xs-5);
  max-width: 100%;
  font-size: var(--font-size-2xs-4);
}
.customersdashboard,
.maindash {
  box-sizing: border-box;
}
.customersdashboard {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-lg-2) var(--padding-242xl-5) var(--padding-15xl-8)
    var(--padding-60xl-6);
  position: relative;
  gap: var(--gap-17xl-2);
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid-3);
  color: var(--color-deepskyblue);
  font-family: var(--font-poppins);
}
.maindash {
  flex: 1;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  max-width: calc(100% - 262px);
}
@media screen and (max-width: 1200px) {
  .customersdashboard {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-111xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .frameGroup {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
  .maindash {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup,
  .marketOverview {
    min-width: 100%;
  }
  .topdash {
    gap: 19px 38.9px;
  }
  .arcAssembler,
  .collaborationControl,
  .groupDiv {
    flex-wrap: wrap;
  }
  .arcAssemblerParent {
    gap: var(--gap-4xl);
  }
  .floydMilesParent {
    flex-wrap: wrap;
  }
  .frameParent2 {
    gap: var(--gap-10xl);
  }
  .frameParent4 {
    flex-wrap: wrap;
  }
  .frameParent3 {
    gap: var(--gap-6xl);
  }
  .frameParent6 {
    flex-wrap: wrap;
  }
  .frameParent5 {
    gap: var(--gap-8xl);
  }
  .jeromeBellParent {
    flex-wrap: wrap;
  }
  .frameParent7 {
    gap: var(--gap-3xl);
  }
  .jacobJonesParent {
    flex-wrap: wrap;
  }
  .frameParent10 {
    gap: var(--gap-8xl);
  }
  .starStackPlusParent {
    gap: var(--gap-lgi);
  }
  .ovalOrganizerPlusParent {
    height: auto;
  }
  .symbolSymphonyStar {
    flex-wrap: wrap;
  }
  .customersdashboard {
    gap: 18px 36.2px;
    padding-top: var(--padding-xl);
    padding-right: var(--padding-46xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .conditionChecker,
  .transformerChain {
    font-size: var(--font-size-lgi);
  }
  .profitsParent {
    flex-wrap: wrap;
  }
  .div6,
  .mapFunctionX {
    font-size: var(--font-size-lgi);
  }
  .profits3 {
    flex: 1;
  }
  .easingFunctionParent,
  .inputSelectorParent {
    flex-wrap: wrap;
  }
  .topdash {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .prototypingComponent {
    flex-wrap: wrap;
    gap: 46.1px 23px;
  }
  .triangleTrioParent {
    flex-wrap: wrap;
  }
  .floydMilesParent {
    gap: 70.5px 35px;
  }
  .frameParent8 {
    flex-wrap: wrap;
  }
  .jeromeBellParent {
    gap: 66.5px 33px;
  }
  .frameParent11 {
    flex-wrap: wrap;
  }
  .jacobJonesParent {
    gap: 61.5px 31px;
  }
  .starStackPlus {
    flex-wrap: wrap;
  }
  .customersdashboard {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
